// CSS for Nav
@import "../styles/custom-media.scss";

nav {
  // Default Mobile Styles
  display: inline-block;
  width: 100vw;
  padding-top: 12px;
  // Desktop Styles
  @media (min-width: $media-Xl) {
    width: 66.666666667rem;
  }
}

nav > .mainCTA {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-weight: bold;
  margin: 1px 24px;
}

.secCTA > li > a {
  color: var(--label-Secondary);
}

// nav > .secondary > li > a {
//   color: var(--label-Secondary);
// }

nav > ul {
  align-items: center;
  font-weight: bold;
}

nav > ul > div > li:first-child {
  padding-left: 0;

  & img {
    border: 4px solid var(--body-background);
    border-radius: 100px;
    transition: 0.3s all;
  }

  &:hover img {
    border: 4px solid var(--brand);
  }
}

nav a {
  height: 2.666666667rem;
  transition: 0.3s all;
  padding: 0 0.5em;
  color: var(--label-Primary);

  &:hover {
    color: var(--brand);
  }
}

nav > ul > div {
  display: flex;
}

nav > ul > div > li {
  list-style: none;
  align-self: center;
  padding: 0 0.5em;
}

nav > ul > div > li > .brandingLockup {
  display: flex;
  height: 2.666666667rem;
}

nav > ul > div > li > .brandingLockup > div {
  align-self: center;
  padding-left: 1.125rem;
}

@media (min-width: $media-mobile) {
}

@media (min-width: $media-tablet) {
}

@media (max-width: $media-desktop) {
}

// @media (min-width: $media-desktop) {
//   nav {
//     width: 66.666666667rem;
//   }
// }
