@import url("https://rsms.me/inter/inter.css");
// base Sizes
$unit: 18px;

:root {
  --unit: 18px;

  --font-family-sans: Inter, -apple-system, BlinkMacSystemFont, Avenir Next,
    Avenir, Helvetica, sans-serif;
}
