$header-size: 2.75rem;
$subHeader-size: 2rem;
$title-size: 1.5rem;
$subTitle-size: 1.25rem;
$body-size: 1rem;
$small-size: 0.8rem;

// Font Line-hieght
$header-height: 1.2;
$subHeader-height: 1.4;
$title-height: 1.4;
$subTitle-height: 1.4;
$body-height: 1.2;
$small-height: 1.2;

// Type componants
body {
  font-size: $unit;
  font-feature-settings: "calt" 1, "liga" 1, "case" 1, "ss01" 1, "ss02" 1,
    "zero" 1;
}

.header {
  font-size: $header-size;
  line-height: $header-height;
  color: var(--label-Primary);
}
.subHeader,
h1 {
  font-size: $subHeader-size;
  list-style: $subHeader-height;
  color: var(--label-Secondary);
}
.title,
h2 {
  font-size: $title-size;
  line-height: $title-height;
  color: var(--label-Secondary);
}
.subTitle,
h3 {
  font-size: $subTitle-size;
  line-height: $subTitle-height;
  color: var(--label-Primary);
}
.body,
p {
  font-size: $body-size;
  font-size: $body-height;
  color: var(--label-Primary);
}
.small {
  font-size: $small-size;
  line-height: $small-height;
  color: var(--label-Primary);
}

// a {
//   color: var(--brand);
// }
